
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>菜单导航设置</title>
    <link href="/Themes/Styles/style.css" rel="stylesheet" />
    <script src="/Themes/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="/Themes/Scripts/TreeTable/jquery.treeTable.js" type="text/javascript"></script>
    <link href="/Themes/Scripts/TreeTable/css/jquery.treeTable.css" rel="stylesheet"
          type="text/css" />
    <script src="/Themes/Scripts/FunctionJS.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            divresize(63);
            FixedTableHeader("#dnd-example", $(window).height() - 91);
            GetClickTableValue();
        })
        /**
        获取table TD值
        主键ID
        column:列名
        **/
        var ID = '';
        function GetClickTableValue() {
            $('table tr').not('#td').click(function () {
                $(this).find('td').each(function (i) {
                    if (i == 6) {
                        ID = $(this).text();
                    }
                });
            });
            $("#dnd-example").treeTable({
                initialState: "expanded" //collapsed 收缩 expanded展开的
            });
        }
        //新增
        function AddMenu(url) {
            url = url + ID;
            top.openDialog(url, 'Menu_Form', '导航菜单信息 - 添加', 450, 305, 50, 50);
        }
        //编辑
        function EditMenu(url) {
            var key = ID;
            if (IsEditdata(key)) {
                url = url + key;
                top.openDialog(url, 'Menu_Form', '导航菜单信息 - 编辑', 450, 305, 50, 50);
            }
        }
        //删除
        function DeleteMenu(url) {
            var key = ID;
            // var key = CheckboxValue();
            if (IsDelData(key)) {
                showConfirmMsg('注：您确认要删除当前选中项吗？', function (r) {
                    if (r) {
                        var pragma = ""
                        getAjax(url + key, pragma, function (rs) {
                            if (parseInt(rs) > 0) {
                                showTipsMsg("恭喜删除成功！", 2000, 4);
                                windowload();
                            }
                            else {
                                showTipsMsg("<span style='color:red'>删除失败，请稍后重试！</span>", 4000, 5);
                            }
                        });
                    }
                });
            }
        }
        //分配按钮
        function AllotButton(url) {
            var key = ID;
            if (IsEditdata(key)) {
                 url =url + "?key=" + key;
                top.openDialog(url, 'AllotButton_Form', '导航菜单信息 - 分配按钮', 580, 370, 50, 50);
            }
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div class="btnbartitle">
            <div>
                导航菜单信息 &nbsp;&nbsp;<span style="color: Red;">注：该功能谨慎使用！</span>
            </div>
        </div>
        <div class="btnbarcontetn">
            <div style="float: left;">
            </div>
            <div style="text-align: right">
               @{Html.RenderAction("GetButtons", "Button", new { Area = "SysSettingUp" });}
            </div>
        </div>
        <div class="div-body">
            <table class="example" id="dnd-example">
                <thead>
                    <tr>
                        <td style="width: 230px; padding-left: 20px;">
                            菜单名称
                        </td>
                        <td style="width: 30px; text-align: center;">
                            图标
                        </td>
                        <td style="width: 60px; text-align: center;">
                            类型
                        </td>
                        <td style="width: 60px; text-align: center;">
                            连接目标
                        </td>
                        <td style="width: 60px;">
                            显示顺序
                        </td>
                        <td>
                            连接地址
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @{Html.RenderAction("MenuTree", "Menu", new { Area = "SysSettingUp" });}
                </tbody>
            </table>
        </div>
    </form>
</body> 
</html>

